.catalogo-background {
    background-image: url('/public/fondo.jpg'); 
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    padding: 20px;
    color: rgb(15, 15, 15); 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
}

.catalogo-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
    max-width: 1200px; 
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    position: relative;
    margin-top: 20px; 
}

.catalogo-container h2 {
    color: #070707; 
    margin: 0; 
    font-size: 24px; 
    font-weight: bold; 
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.catalogo-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
}

.catalogo-item {
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: calc(100% / 2 - 20px); 
    max-width: 250px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    position: relative; 
    overflow: hidden; 
    display: flex;
    flex-direction: column; 
}

@media (min-width: 768px) {
    .catalogo-item {
        width: calc(100% / 3 - 20px); 
    }
}

@media (min-width: 1200px) {
    .catalogo-item {
        width: calc(100% / 4 - 20px); 
    }
}

.catalogo-item:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}

.catalogo-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: opacity 0.3s ease; 
}

.catalogo-item:hover img {
    opacity: 0.8; 
}

.catalogo-item h3 {
    color: #333; 
    margin: 10px 0; 
}

.catalogo-item p {
    color: #555; 
}

.catalogo-item .buy-container {
    margin-top: auto; 
    display: flex;
    justify-content: center; 
}

.catalogo-item .buy-button {
    background-color: #000; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
    opacity: 0; 
    visibility: hidden; 
}

.catalogo-item:hover .buy-button {
    opacity: 1; 
    visibility: visible; 
}
