.home-background {
    background-image: url('/public/fondo.jpg'); /* Asegúrate de que la ruta sea correcta */
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la pantalla */
    padding-bottom: 10rem; /* Espacio para el footer */
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: white !important; /* Asegura que los enlaces sean blancos */
}

.nav-item {
    margin-right: 1rem; /* Ajusta el margen derecho para los enlaces */
}

.container {
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad para mejorar la legibilidad del texto */
    padding: 2rem;
    border-radius: 0.5rem;
}

/* Estilos para el botón del menú hamburguesa */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16m-7 6h7'%3E%3C/path%3E%3C/svg%3E");
}

@media (max-width: 991px) {
    .navbar-nav {
        margin-left: 0; /* Elimina el margen izquierdo en dispositivos móviles */
    }
}

.prendas-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: none;
    border-radius: 8px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card-body {
    text-align: center;
}

@media (max-width: 768px) {
    .card-img-top {
        height: 150px;
    }
}

/* Estilos para el footer */
.footer {
    padding: 2rem 0;
    background-color: #343a40; /* Fondo oscuro */
    color: #f8f9fa; /* Texto claro */
    position: relative; /* Permite el uso de position: absolute en los hijos si es necesario */
    bottom: 0;
    width: 100%;
}

.footer h5 {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.footer-link {
    color: #f8f9fa; /* Color blanco para los enlaces */
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer p {
    margin: 0.5rem 0;
}
