.promociones-background {
    background-image: url('/public/fondo.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
    color: white;
}

.promociones-container {
    background-color: rgba(255, 255, 255, 0.4); 
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.promociones-container h2 {
    color: #000000; 
    margin-bottom: 20px;
}

.volver-btn {
    color: #000; 
    text-decoration: none; 
    font-weight: bold;
    background: transparent; 
    border: none; 
    font-size: 1rem; 
}

.volver-btn:hover {
    background-color: #000; 
    color: #fff; 
}


.table-dark {
    background-color: #333; 
    color: #fff; 
}

.table-dark thead th {
    background-color: #444; 
    color: #fff; 
}

.table-dark tbody tr {
    border-bottom: 1px solid #555; 
}

.table-dark tbody tr:nth-child(even) {
    background-color: #444; 
}

.table-dark tbody tr:nth-child(odd) {
    background-color: #333; 
}

.table-dark td, .table-dark th {
    padding: 1rem; 
    text-align: center; 
}

@media (max-width: 576px) {
    .promociones-container {
        padding: 2rem;
    }
}
